html,body{
    height:297mm;
    width:210mm;
    margin: 0 auto;
}


/**{
	border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

*{
	font-family: 'Lato', sans-serif;
}

h3{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 0.9em;
}

caption{
	border: 1px solid black;
}

.mockup-overlay{
	top: 0;
	position: absolute;
 	z-index: -1;
	opacity: 0.4;
	padding: 25px 25px 25px 25px;
}

.grid{
	margin: 0 auto;
	/*max-width: 1280px;*/
	width: 100%;
	/*box-shadow: 0 0 8px rgba(0,0,0,0.2);*/
}

.row,
.row-1,
.row-2,
.footer{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
}

.col-01{
	width: 0.83%;
}

.col-02{
	width: 1.66%;
}

.col-03{
	width: 2.5%
}

.col-04{
	width: 3.33%;
}

.col-05{
	width: 4.16%;
	display: -webkit-inline-box;
}

.col-06{
	width: 5%;
	display: -webkit-inline-box;
}

.col-07{
	width: 5.83%;
	display: -webkit-inline-box;
}

.col-08{
	width: 6.66%;
	display: -webkit-inline-box;
}

.col-09{
	width: 7.5%;
	display: -webkit-inline-box;
}

.col-1 {
    width: 8.33%;
    display: -webkit-inline-box;
}

.col-15{
	width: 
}

.col-2 {
    width: 16.66%;
    display: -webkit-inline-box;
}

.col-3 {
    width: 24.3%;
    display: -webkit-inline-box;
}

.col-4 {
    width: 33.17%;
    color: #1A1A1A;
    display:-webkit-inline-box;

}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
    color: #1A1A1A;
}

.col-2 h3{
	width: 100%;
	text-align: center;
}

.col-09 h3{
	width: 100%;
	text-align: center;
}

.col-1 h3{
	width: 100%;
	text-align: center;
}

.col-3 h3{
	width: 100%;
	text-align: center;
}

.col-12 h1{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 1.4em;
}

.col-12 h2,
.col-6 h2{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1em;
}

.col-6 td{
	text-align: center;
	font-size: 0.8em;
}

.col-6 td.first_col{
	text-align: left;
}

.col-3 svg{
	margin: 5px 10px 7px 10px;
	width: 80%
}

.col-9 h2{
	margin-top: 5px;
	margin-bottom: 5px;
}

.col-9 .col-12 .col-12 h3{
	height: 120px;
	text-align: left;
}

.col-3 .col-12 h2,
.col-9 .col-12 h2{
	margin-top: 8px;
}

.footer .col-8{
	display: inline-block;
}

.footer .col-12 h1{
	width: 309px;
	height: 130px;
}

.footer .col-12 h3{
	text-align: center;
}

.footer .col-6 .col-12 h1{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	margin-top: 10px;
}

table, th, td {
   border: 1px solid black;
}

table {
    /*border-collapse: collapse;*/
    width: 100%;
}